/* CSS for jjreader
*/

#jjreader-feed-container {
	display:block;
	position:relative;
	overflow:hidden;

}
#jjreader-feed-container img, 
#jjreader-feed-container video {
	max-width:100%;
}

.jjreader-loading {
	background: url(../images/Wedges.svg) no-repeat top left; 
	background-size: 100% auto;
	height: 1rem;
	width: 1rem;
	display:inline-block;
}
#jjreader-addSite-form label {
	min-width: 10%;
}

.jjreader-hidden {
	display:none;
}


.jjreader-disabled {
	pointer-events:none;
}


/*
** Posts displayed in the feed
*/


#jjreader-feed-container {
	background: #eee;
	padding: .5rem;
}

#jjreader-feed-container .jjreader-feed-item {
	background: #fff;
	padding: .5rem;
	border: 1px solid #e1e1e1;
	margin: .5rem 0;
	border-radius: 3px;
}


#jjreader-feed-container .jjreader-item-meta {
	border-bottom: 1px solid #ddd;
}

#jjreader-feed-container a.jjreader-item-date {
	font-size: small;	
	color:#888;
}

#jjreader-feed-container a.jjreader-item-authorname {
	font-weight:bold;
	font-size:1rem;
	color:#3f3f3f;
}

#jjreader-feed-container .jjreader-item-content .jjreader-item-title{
	font-weight:bold;
	color:#3f3f3f;
	display:block;
}

#jjreader-feed-container .jjreader-item-content {}

#jjreader-feed-container .jjreader-response-controls{
	display:inline-block;
	width:50%;
}

#jjreader-feed-container .jjreader-like::before {
	content:"Like";
}

#jjreader-feed-container .jjreader-like.jjreader-response-exists::before {
	content:"Liked";
}

#jjreader-feed-container .jjreader-reply::before {
	content:"Reply";
}

#jjreader-feed-container .jjreader-reply.jjreader-response-exists::before {
	content:"Replied";
}

#jjreader-feed-container .jjreader-replies:empty{
	display:none;
}
#jjreader-feed-container .jjreader-replies::before {
	content:"Your responses:";
}


#jjreader-feed-container .jjreader-replies {

	display:inline-block;
	width:50%;
	font-size: small;
	color: #888;
	line-height: 1.1em;
	text-align: right;
}

#jjreader-feed-container .jjreader-replies a {
	display:inline-block;
	padding:0.1em 0.2em;
	margin: 0.2em 0 0 1em;
	border: 1px solid #dbd4d4;;
}



button .jjreader-no-more {
	/* The load more button when there are no posts left */
	
}
