/* CSS for jjreader
*/

.jjreader-loading {
	background: url(../images/Wedges.svg) no-repeat top left; 
	background-size: 100% auto;
	height: 1.5rem;
	width: 1.5rem;
	display:inline-block;

}
#jjreader-addSite-form label {
	min-width: 10%;
}

.jjreader-hidden {
	display:none;
}

/*
** Posts displayed in the feed
*/


#jjreader-feed-container {
	background: #eee;
	padding: .5rem;
}

#jjreader-feed-container .jjreader-feed-item {
	background: #fff;
	padding: .5rem;
	border: 1px solid #e1e1e1;
	margin: .5rem 0;
	border-radius: 3px;
}


#jjreader-feed-container .jjreader-item-meta {
	border-bottom: 1px solid #ddd;
}

#jjreader-feed-container a.jjreader-item-date {
	font-size: small;	
	color:#888;
}

#jjreader-feed-container a.jjreader-item-authorname {
	font-weight:bold;
	font-size:1rem;
	color:#3f3f3f;
}

#jjreader-feed-container .jjreader-item-content .jjreader-item-title{
	font-weight:bold;
	color:#3f3f3f;
	display:block;
}

#jjreader-feed-container .jjreader-item-content {}


button .jjreader-no-more {
	/* The load more button when there are no posts left */
	
}
