/* CSS for jjreader
*/

#jjreader_header {
	margin-top: 1em;
}

#jjreader_header img {
	width: 224px;
	height: auto;
}
#jjreader-feed-container {
	display:block;
	position:relative;
	overflow:hidden;

}
#jjreader-feed-container img, 
#jjreader-feed-container video {
	max-width:100%;
}

.jjreader-loading {
	background: url(../images/Wedges.svg) no-repeat top left; 
	background-size: 100% auto;
	height: 1rem;
	width: 1rem;
	display:inline-block;
}
#jjreader-addSite-form label {
	min-width: 10%;
}

.jjreader-hidden {
	display:none;
}


.jjreader-disabled {
	pointer-events:none;
}

/* The 'Load more' button at the bottom of the feed */
#jjreader-load-more {
	margin: 1rem auto; 
}

#jjreader-last-updated {
	font-size:small;
	color:#888;
	padding: 0 0.5em;
}

#jjreader-last-updated:empty{
	display:none;
}
#jjreader-last-updated::before {
	content:"Feed last refreshed: ";
}


/*
** Posts displayed in the feed
*/


#jjreader-feed-container {
	background: #eee;
	padding: .5rem;
}

#jjreader .jjreader-feed-item {
	background: #fff;
	padding: .5rem;
	border: 1px solid #e1e1e1;
	margin: .8rem 0;
	border-radius: 3px;
	box-shadow: 1px 1px 15px rgba(1,1,1,.1);
}

/* The first meta box, at the TOP of each item */
.jjreader-feed-item .jjreader-item-meta {
	border-bottom: 1px solid #ddd;
	margin-bottom:1em;
}

.jjreader-feed-item  a.jjreader-item-date {
	font-size: small;	
	color:#888;
}

.jjreader-feed-item  a.jjreader-item-authorname {
	font-weight:bold;
	font-size:1rem;
	color:#3f3f3f;
}


/* The second meta box, at the BOTTOM of each item */
.jjreader-feed-item .jjreader-item-meta2{
	display:inline-block;
	width:50%;
	font-size:small;
}
.jjreader-feed-item .jjreader-item-meta2:not(:empty) {
		border-top: 1px solid #ddd;
		margin-top: 1em;
}

.jjreader-feed-item .jjreader-item-location::before {
	content:"📍 ";
}

.jjreader-feed-item .jjreader-item-syndication a {
	padding-right:1em;
}

.jjreader-feed-item .jjreader-item-syndication::before {
	content:"Also at: ";
}



/* The item content */ 
.jjreader-feed-item .jjreader-item-reply {
    font-size: small;
    margin-bottom: 1em;
}


.jjreader-feed-item  .jjreader-item-title {
	font-weight:bold;
	color:#3f3f3f;
	display:block;
}

.jjreader-feed-item .jjreader-item-photo {
	height: 25rem;
	overflow: hidden;
	position:relative;
}

.jjreader-feed-item .jjreader-item-photo img {
  max-width:100%;
  max-height:100%;
}

.jjreader-feed-item .jreader-item-summary {
	margin-bottom:1em;
}

.jjreader-feed-item .jjreader-item-more {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.jjreader-feed-item .jjreader-item-response {
	display:inline-block;
	width:50%;
	text-align:right;
}

.jjreader-feed-item .jjreader-response-controls {
display:inline-block;
	}

.jjreader-feed-item .jjreader-response-controls button{
	margin-left:1em;
}


.jjreader-feed-item  .jjreader-like::before {
	content:"Like";
}

.jjreader-feed-item  .jjreader-like.jjreader-response-exists::before {
	content:"See like: 🔗";


}

.jjreader-feed-item  .jjreader-reply::before {
	content:"Reply";
}

.jjreader-feed-item  .jjreader-reply.jjreader-response-exists::before {
	content:"See reply: 🔗";
}



.jjreader-feed-item  .jjreader-replies {

	display:inline-block;
	width:50%;
	font-size: small;
	color: #888;
	line-height: 1.1em;
	text-align: right;
}

.jjreader-feed-item  .jjreader-replies a {
	display:inline-block;
	padding:0.1em 0.2em;
	margin: 0.2em 0 0 1em;
	border: 1px solid #dbd4d4;;
}


/* full screen pop-up (full view for posts) */
.noscroll {
	/*we apply noscroll to the body when the pop-up is open*/
	overflow:hidden;
}

 

/* The Modal (background) */
#jjreader-full-box {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /*background-color: rgba(0,0,0,0.9);*/
  background-color: rgba(21, 20, 20, 0.9);
}

/* The Close Button */
#jjreader-full-close {
  color: white;
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor:pointer;
}
/* Modal Content */
#jjreader-full-content {
  position: relative;
  background-color: #fefefe;
  margin: 3rem auto;
  padding: 0;
  width: 90%; 
  max-width:800px;
  box-shadow: 1px 1px 86px black;

}




/* 
**  Messages and errors
*/

.ui-state-error {
	color:red;

}
.ui-state-highlight {
	font-style:italic;
}
