/* CSS for yarns_reader
*/


#yarns_reader_overlay{
	z-index:9999;
	background:#303030;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin-top:32px;
	overflow:scroll;
}


#yarns_reader {
	background: white;
	max-width: 1000px;
	margin: 0 auto;
	padding:1rem 0 2rem;
}

#yarns_reader_header {
	padding: 3rem 0.5rem 0;
}

#yarns_reader_header img {
	width: 224px;
	height: auto;
}

.yarns_reader-controls {
	padding:0.5rem;
}
#yarns_reader-feed-container {
	display:block;
	position:relative;
	overflow:hidden;

}
#yarns_reader-feed-container img, 
#yarns_reader-feed-container video {
	max-width:100%;
}

.yarns_reader-loading {
	background: url(../images/Wedges.svg) no-repeat top left; 
	background-size: 100% auto;
	height: 1rem;
	width: 1rem;
	display:inline-block;
}
#yarns_reader-addSite-form label {
	min-width: 10%;
	padding:.5rem;
}

.yarns_reader-hidden {
	display:none;
}


.yarns_reader-disabled {
	pointer-events:none;
}

/* The 'Load more' button at the bottom of the feed */
#yarns_reader-load-more {
	margin: 1rem .5rem; 
}

#yarns_reader-last-updated {
	font-size:small;
	color:#888;
	padding: 0 0.5em;
}

#yarns_reader-last-updated:empty{
	display:none;
}
#yarns_reader-last-updated::before {
	content:"Feed last refreshed: ";
}


/*
** Posts displayed in the feed / Subscription items
** (grouped because they share style for consistency)
*/


#yarns_reader-feed-container, #yarns_reader-subscription-list {
	/* background: #eee; */ /* old lighter colour */ 
	background:#747270;
	padding: .5rem;
}

#yarns_reader .yarns_reader-feed-item, #yarns_reader .yarns_reader-subscription-item {
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	box-shadow: 1px 1px 15px rgba(1,1,1,.1);
}

#yarns_reader .yarns_reader-feed-item{
	padding: .5rem;
	margin: .8rem 0;
	position:relative;
}

#yarns_reader-subscriptions h2, #yarns_reader-addSite-form {
	padding:0.5rem;
}

#yarns_reader-subscription-list {
	text-align:center;
}

#yarns_reader .yarns_reader-subscription-item {
	text-align:left;
	margin:.5rem;
	padding:1rem;
	
}

#yarns_reader .yarns_reader-button-unsubscribe {
	float:right;
}

/* 
** Additional styles for 'manage subscriptions' screen 
*/

#yarns_reader .yarns_reader-subscription-item {
	
}

#yarns_reader .yarns_reader-subscription-title {
	display:inline-block;
}


/* The first meta box, at the TOP of each item */
.yarns_reader-feed-item .yarns_reader-item-meta {
	border-bottom: 1px solid #ddd;
	margin-bottom:1em;
}

.yarns_reader-feed-item  a.yarns_reader-item-date {
	font-size: small;	
	color:#888;
}

.yarns_reader-feed-item .yarns_reader-item-authorav {
	overflow:hidden;
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	box-shadow: 0px 0px 3px rgba(35, 35, 35, 0.36);
	margin-right:0.75em;
}

.yarns_reader-feed-item .yarns_reader-item-authorav img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.yarns_reader-feed-item  a.yarns_reader-item-authorname {
	font-weight:bold;
	font-size:1rem;
	color:#3f3f3f;
}


/* The second meta box, at the BOTTOM of each item */
.yarns_reader-feed-item .yarns_reader-item-meta2{
	
	
	font-size:small;
	
}
.yarns_reader-feed-item .yarns_reader-item-meta2:not(:empty) {
		border-top: 1px solid #ddd;
		margin-top: 1em;

}

.yarns_reader-feed-item .yarns_reader-item-location::before {
	content:"📍 ";
}

.yarns_reader-feed-item .yarns_reader-item-location {

}

.yarns_reader-feed-item .yarns_reader-item-syndication a {
	padding-right:1em;
}

.yarns_reader-feed-item .yarns_reader-item-syndication::before {
	content:"Also at: ";
}



/* The item content */ 
.yarns_reader-feed-item .yarns_reader-item-reply {
    font-size: small;
    margin-bottom: 1em;
    margin-top:-1em;
    padding-left: .5em;
}



.yarns_reader-feed-item  .yarns_reader-item-title {
	font-weight:bold;
	color:#3f3f3f;
	display:block;
}

.yarns_reader-feed-item .yarns_reader-item-photo {
	height: 25rem;
	overflow: hidden;
	position:relative;
}

.yarns_reader-feed-item .yarns_reader-item-photo img {
  max-width:100%;
  max-height:100%;
}

.yarns_reader-feed-item .jreader-item-summary {
	margin-bottom:1em;
}

.yarns_reader-feed-item .yarns_reader-item-more {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.yarns_reader-feed-item .yarns_reader-item-response {
	text-align:right;
}

.yarns_reader-feed-item .yarns_reader-response-controls {

	}

.yarns_reader-feed-item .yarns_reader-response-controls button{
	margin-left:1em;
}


.yarns_reader-feed-item  .yarns_reader-like::before {
	content:"Like";
}

.yarns_reader-feed-item  .yarns_reader-like.yarns_reader-response-exists::before {
	content:"See like: 🔗";


}

.yarns_reader-feed-item  .yarns_reader-reply::before {
	content:"Reply";
}

.yarns_reader-feed-item  .yarns_reader-reply.yarns_reader-response-exists::before {
	content:"See reply: 🔗";
}
.yarns_reader-feed-item .yarns_reader-reply-input {
	
}

.yarns_reader-feed-item .yarns_reader-reply-title {
	width:99%;
}

.yarns_reader-feed-item .yarns_reader-reply-text {
	width:99%;
	resize:vertical;
}

.yarns_reader-feed-item  .yarns_reader-replies {

	display:inline-block;
	width:50%;
	font-size: small;
	color: #888;
	line-height: 1.1em;
	text-align: right;
}

.yarns_reader-feed-item  .yarns_reader-replies a {
	display:inline-block;
	padding:0.1em 0.2em;
	margin: 0.2em 0 0 1em;
	border: 1px solid #dbd4d4;;
}


/* full screen pop-up (full view for posts) */
.noscroll {
	/*we apply noscroll to the body when the pop-up is open*/
	overflow:hidden;
}

 

/* The Modal (background) */
#yarns_reader-full-box {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /*background-color: rgba(0,0,0,0.9);*/
  background-color: rgba(21, 20, 20, 0.9);
}

/* The Close Button */
#yarns_reader-full-close {
  color: white;
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor:pointer;
}
/* Modal Content */
#yarns_reader-full-content {
  position: relative;
  background-color: #fefefe;
  margin: 3rem auto;
  padding: 0;
  width: 90%; 
  max-width:800px;
  box-shadow: 1px 1px 86px black;

}



/* 
**  Messages and errors
*/

.ui-state-error {
	color:red;

}
.ui-state-highlight {
	font-style:italic;
}



/*
** Styles for the admin screen
*/

#yarns_reader-admin .yarns_reader-log {
	height:15rem;
	overflow-y:scroll;
	background:white;
	max-width:800px;

}

#yarns_reader-admin .yarns_reader-log .yarns_reader-log-item {
	padding: .2rem;
	border-bottom: 1px solid #e7e7e7;
}



#yarns_reader-admin .yarns_reader-log .yarns_reader-log-item-time {
	margin-right: 1em;
} 